* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 2px;
}

#header {
    margin-top: 10%;
}

#timer {

    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

}


#start-btn {
    display: flex;
    margin-left: 200px;
}


ul {
    list-style: none;
    margin-top: 25%;
}